* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
 /* display: flex;

  justify-content: space-between;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */

  /*background-color: rgb(255, 159, 104);
  color: #553739;
  padding: 1rem;*/
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.logo {
  
  padding: 0;
  margin: 0;
}

.nav-menu {
  list-style: none;
  display: flex;
}

.nav-menu li {
  margin-right: 20px;
  list-style: none;
  display: flex;
  gap: 1rem;
  position: relative;
}

.nav-menu li a {
  color: #f89334;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.nav-menu li:hover a {
  color: #ffbd88;
}

.nav-menu li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  padding: 0.5rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-menu li:hover > ul {
  display: block;
}

.nav-menu li ul li {
  margin: 0;
  display: block;
}

.nav-menu li ul li a {
  color: #553739;
  font-weight: normal;
}

.main {
}

.receitas {
  text-align: center;
  padding-top: 30px;
}

.receitas h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #8f5d13;
}

.receitas p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #553739;
}

.receita-item {
  display: inline-block;
  margin: 20px;
  position: relative;
  text-align: center;
}

.receita-item img {
  width: 200px;
  height: 200px;
  border-radius: 4px;
  object-fit: cover;
}

.receita-item a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 4px;
}

.receita-item:hover a {
  opacity: 1;
}

.button {
  display: flex;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #f89334;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.1;
  transition: opacity 0.3s ease;
  /*transition: all 0.5s ease;*/
}

.button:hover{
  opacity: 1;
}


footer {
  background-color: #cccccc;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

footer p {
  font-size: 14px;
  color: #ffffff;
}
