@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
:root {
  --cor-fundo: rgb(255, 255, 255);
  --cor-primaria: rgb(253, 0, 0);
  --cor-hover: rgb(162, 255, 0);
}
.navigation {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  background-color: black;
  color: var(--cor-primaria);
}
.navigation .logo {
  color: rgb(255, 0, 0);
}
.navigation ul {
  display: flex;
  align-items: center;
  gap: 5rem;
  list-style-type: none;
  padding: 0;
}
.navigation ul li {
  display: inline;
  position: relative;
}
.navigation ul li a {
  display: inline-block;
  color: var(--cor-primaria);
  text-decoration: none;
  padding: 10px;
  transition: background 0.5s;
}
.navigation ul li a:hover {
  color: var(--cor-hover);
}
/* Sub menu */
.navigation ul ul {
  display: none;
  position: absolute;
  width: 160px;
  background-color: #000000;
}

.navigation ul li:hover ul {
  display: block;
}

.navigation ul ul li a {
  display: block;
}

/* menu-bar */
.menu {
  cursor: pointer;
  display: none;
}
.menu .bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background: red;
  margin: 5px auto;
  transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
  background-color: greenyellow;
}
main {
  width: 100%;
  height: calc(100vh - 80px - 40px);
  background: rgb(255, 255, 255);
}
main h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.card-wrapper {
  width: 100%;
  height: 90%;
  /* background-color: rgb(8, 3, 3); */
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 50%;
  height: 200px;
  /* background-color: rgb(248, 1, 1); */
  /* border: 2px solid red; */
  overflow: hidden;
}
.card i {
  font-size: 30px;
  margin-left: 10px;
  color: #000000;
}
.card i:hover {
  color: #ff0202;
}
.img-cri img {
  width: 172px;
  height: 150px;
  object-fit: cover;
}

.rodape {
  display: flex;
  width: 100%;
  height: 40px;
  background: red;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.1rem 0.5rem #f6f3f3;
}

@media (max-width: 785px) {
  .navigation {
    padding: 18px 20px;
  }
  .menu {
    display: block;
  }
  .menu.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    text-align: center;
    flex-direction: column;
    background: black;
    gap: -10px;
    transition: 0.3s;
  }
  .nav-menu.ativo {
    right: 0;
  }
  .nav-item {
    margin: 16px 0;
  }
}
