/* Criadores */

.conteiner-card {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  text-align: center;
}
.conteiner-card p {
  padding: 1rem;
}
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.2rem;
}
.card {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 5px var(--fundo);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
}
.card i {
  font-size: 25px;
  margin-left: 10px;
  color: var(--dark);
}
.card i:hover {
  color: #ff0202;
}
.img-cri img {
  max-width: 190px;
  width: 100%;
  height: 170px;
  object-fit: cover;
  margin-top: 5px;
}
.img-cri {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

/* -------------------------------------------------------------------------- */

@media (max-width: 600px) {
  .conteiner-card {
    padding: 2px;
    width: 100vw;
  }
  .conteiner-card h2,
  p {
    margin: 10px;
  }
  .card-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  .card {
    width: 100vw;
  }
  .rodape {
    font-size: 12px;
  }
  .link {
    gap: 1rem;
  }
}
