/* Btn dark or light mode */

input[type="checkbox"] {
  display: none;
}
html,
body {
  transition: 0.5s;
}
<<<<<<< HEAD
=======
.background-overlay {
  transition: 0.3s;
}
>>>>>>> 9076bdd419377e69c34eeaa8a3c6e5b3ed3e647e
.bi {
  font-size: 1rem;
  cursor: pointer;
}
.bi-moon {
  display: none;
}

/* dark theme */

.dark,
.dark header {
  background-color: #263238;
  color: aliceblue;
}
.dark .bi-sun {
  display: none;
}
.dark .bi-moon {
  display: block;
}

.dark h3 {
  color: aliceblue;
}
.dark .navigation {
  background-color: #263238;
}
.dark .nav-menu {
  background-color: #263238;
}
.dark .navigation ul ul {
  background-color: #263238;
}
.dark .grid-item {
  background-color: #263238;
  transition: 0.3s;
}
<<<<<<< HEAD
=======
.dark .carrosel-item,
.dark .carrosel-2-item {
  background-color: #263238;
}
.dark .background-overlay {
  background-color: rgba(0, 0, 0, 0.356);
  transition: 0.3s;
}
>>>>>>> 9076bdd419377e69c34eeaa8a3c6e5b3ed3e647e
