/* Btn dark or light mode */

input[type="checkbox"] {
  display: none;
}
html,
body {
  transition: 0.5s;
}
.background-overlay {
  transition: 0.3s;
}
.bi {
  font-size: 1rem;
  cursor: pointer;
}
.bi-moon {
  display: none;
}

/* dark theme */

.dark,
.dark header {
  background-color: #263238;
  color: aliceblue;
}
.dark .bi-sun {
  display: none;
}
.dark .bi-moon {
  display: block;
}
.dark h3 {
  color: aliceblue;
}

/* Barra de navegação modo dark */
.dark .navigation {
  background-color: #263238;
}
.dark .nav-menu {
  background-color: #263238;
}
.dark .navigation ul ul {
  background-color: #263238;
}

/* Cards receitas modo dark */
.dark .grid-item {
  background-color: #263238;
  transition: 0.3s;
}

/* Carrossel modo dark */
.dark .carrosel-item,
.dark .carrosel-2-item {
  background-color: #263238;
}

/* Fundo pagina login/cadastro */
.dark .background-overlay {
  background-color: rgba(0, 0, 0, 0.356);
  transition: 0.3s;
}
