 /* Cadastro */
body {
  animation: changeBackground 100s infinite;
  background-size: cover;
}
body {
  color: var(--dark);
  background-color: var(--white);
  background-position: center;
  background-size: cover;
  background-image: url("img/13.jpg");
}
.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.span-required {
  display: none;
 text-align: left;  /* TESTE!!!! (RETIREI DO .envio form e adicionei aqui) */
  font-size: 12px;
  margin-bottom: 1rem;
  color: red;
  font-weight: 600;
}

@keyframes changeBackground {
  0% {
    background-image: url(../img/img1.jpg);
    width: 100%;
    height: 100vh;
  }
  20% {
    background-image: url(../img/img2.jpg);
    width: 100%;
    height: 100vh;
  }
  40% {
    background-image: url(../img/img3.jpg);
    width: 100%;
    height: 100vh;
  }
  60% {
    background-image: url(../img/img4.jpg);
    width: 100%;
    height: 100vh;
  }
  80% {
    background-image: url(../img/img5.jpg);
    width: 100%;
    height: 100vh;
  }
  100% {
    background-image: url(../img/img6.jpg);
    width: 100%;
    height: 100vh;
  }
}
.envio form {
  /* text-align: left; TESTE !!!!!!*/
  width: 20rem;
  background: rgba(252, 250, 250, 0.479);
  padding: 1rem;
}
.formulario {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.envio {
  text-align: center;
  margin: 10px auto;
}

.envio h1 {
  font-size: 24px;
}

.envio p {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
}

.envio label {
  display: block;
   text-align: left; /*MUDANÇA:pq tinha ficado centralizado qdo mudei o .emvio */
  margin-top: 5px; /*MUDANÇA: pra distanciar um pouco o texto senha do input */
  margin-bottom: 5px; /*MUDANÇA: diminui pq coloquei o margin-top */
  font-weight: bold;
}

.envio input,
.envio textarea,
.envio select {
  width: 100%;
  height: 40px;
  border-radius: 15px;
}

.envio input[type="submit"] {
  display: flex;
  justify-content: center;
  background-color: var(--fundo);
  border-radius: 20px;
  color: white;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.envio input[type="submit"]:hover {
  opacity: 0.8;
}

.envio .botao-gmail {
  background-color: #db4a39;
  color: white;
  gap: 1rem;
}

.envio .botao-facebook {
  background-color: #4267b2;
  color: white;
  gap: 1rem;
}

.envio .botao-github {
  background-color: #333333;
  color: white;
}

.envio .botao-linkedin {
  background-color: #0077b5;
  color: white;
}

.envio .botao-gmail,
.envio .botao-facebook,
.envio .botao-github,
.envio .botao-linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  padding: 10px 20px 10px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.envio .botao-gmail:hover,
.envio .botao-facebook:hover,
.envio .botao-github:hover,
.envio .botao-linkedin:hover {
  opacity: 0.8;
}

.envio h4 {
  display: flex;
  justify-content: center;
}

/* login */

.texto {
  line-height: 20px;
  /* font-family: Poppins, Arial, sans-serif; */
  color: #000;
}

.cadastro {
  color: var(--fundo);
  font-weight: bolder;
  text-decoration: solid;
}

.cadastro a {
  outline-width: 100px;
  cursor: pointer;
}

.icone-social {
  fill: #fafafa;
}

/* teste esqueceu sua senha ATENÇÃO A ESTILIZAÇÃO DE COR E TAMANHO*/ 
.hidden {
  display: none;
  font-size: 12px;
  color: black;
  text-decoration: solid;
}
.hidden a{
  outline-width: 100px;
  cursor: pointer;
}