/* Cadastro */
*{
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
}

form {
  width: 300px;
  height: 200px, auto;
}

input{
  display: block;
  margin: 10px, auto;
  
}

.envio {
  width: 100vw;
  margin: 50px auto;
  text-align: center;
}

.envio h1 {
  font-size: 24px;
}

.envio p {
  font-size: 16px;
  margin-bottom: 20px;
}
.formulario {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.envio form {
  text-align: left;
  width: 18rem;
}

.envio label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.envio input,
.envio textarea,
.envio select {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.envio input[type="submit"] {
  display: flex;
  justify-content: center;
  background-color: #996515;
  border-radius: 20px;
  color: white;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.envio input[type="submit"]:hover {
  opacity: 0.8;
}

.envio .botao-gmail {
  background-color: #db4a39;
  color: white;
}

.envio .botao-facebook {
  background-color: #4267b2;
  color: white;
}

.envio .botao-github {
  background-color: #333333;
  color: white;
}

.envio .botao-linkedin {
  background-color: #0077b5;
  color: white;
}

.envio .botao-gmail,
.envio .botao-facebook,
.envio .botao-github,
.envio .botao-linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  padding: 10px 20px 10px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.envio .botao-gmail:hover,
.envio .botao-facebook:hover,
.envio .botao-github:hover,
.envio .botao-linkedin:hover {
  opacity: 0.8;
}

.envio h4 {
  display: flex;
  justify-content: center;
}

/* login */


.texto{
  line-height: 20px;
  font-family: Poppins, Arial, sans-serif;
  
}

.cadastro{
  color: #996515
}

.cadastro a{
  outline-color: initial;
  outline-style: initial;
  outline-width: 2px;
  cursor: pointer
}

.botao-facebook .u-icon{
  fill
}