/* Barra-pesquisa */

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#search_bar input {
  height: 3vh;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 5px;
  width: 25rem;
  margin-top: 30px;
  border-color: var(--hover);
}
.search .icon {
  position: absolute;
  right: 35.5rem;
  top: 7rem;
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
  line-height: 3.4rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.search .icon i {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* -------------------------------------------------------------------------- */
/* Barra de pesquisa paginas receitas */

.search-box {
  position: relative;
  display: flex;
  align-items: center;
}
.search-box .search-text {
  background: none;
  border: 0;
  outline: 0;
  font-size: 16px;
  padding: 0;
  width: 0;
  transition: width 0.2s;
  color: aliceblue;
}
.search-box .search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.search-box:hover .search-text {
  width: 240px;
}
/* -------------------------------------------------------------------------- */

@media (max-width: 785px) {
  #search_bar input {
    width: 12.5rem;
    transition: width 0.2s;
  }
}
@media (max-width: 1024px) {
  #search_bar input {
    transition: width 0.2s;
  }
}
