/* Barra-pesquisa */

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.pesquisa input {
  height: 4vh;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 5px;
  width: 30%;
  margin-top: 30px;
  border-color: var(--hover);
}
.search .icon {
  position: absolute;
  right: 35.5rem;
  top: 7rem;
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
  line-height: 3.4rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.search .icon i {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* -------------------------------------------------------------------------- */
/* Barra de pesquisa */

.search-box {
  position: relative;
  display: flex;
  align-items: center;
}
.search-box .search-text {
  background: none;
  border: 0;
  outline: 0;
  font-size: 16px;
  padding: 0;
  width: 0;
  transition: width 0.2s;
}
.search-box .search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.search-box:hover .search-text {
  width: 320px;
}

/* -------------------------------------------------------------------------- */
