.slider {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  position: relative;
}
.slides {
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.navigation-dots {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}
.dot {
  width: 12px;
  height: 12px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.dot.active {
  background-color: #555;
}

.navigation-dots .dot.active:nth-child(1) {
  background-color: rgb(4, 8, 250);
}
.navigation-dots .dot.active:nth-child(2) {
  background-color: rgb(241, 238, 8);
}
.navigation-dots .dot.active:nth-child(3) {
  background-color: rgb(253, 32, 3);
}
.navigation-dots .dot.active:nth-child(4) {
  background-color: rgb(18, 168, 5);
}
