.slider {
<<<<<<< HEAD
  width: 100%;
=======
  max-width: 1200px;
>>>>>>> 9076bdd419377e69c34eeaa8a3c6e5b3ed3e647e
  margin: auto;
  text-align: center;
  position: relative;
}

.slides {
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100%;
  height: 100%;
  /* box-shadow: 0 2px 5px var(--dark); */
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
<<<<<<< HEAD
=======
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
>>>>>>> 9076bdd419377e69c34eeaa8a3c6e5b3ed3e647e
}

.navigation-dots {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.dot.active {
  background-color: #555;
}
