* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* -------------------------------------------------------------------------- */
.navigation {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 11px 20px 9px black;
  color: white;
}
.navigation a {
  color: #f6f3f3;
}
.navigation img {
  color: var(--cor-primaria);
  width: 4.5rem;
  cursor: pointer;
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
  padding: 0;
}
.navigation ul li {
  display: inline;
  position: relative;
}
.navigation ul li a {
  display: inline-block;
  color: var(--cor-primaria);
  text-decoration: none;
  padding: 10px;
  transition: background 0.5s;
}
.navigation ul li a:hover {
  color: #996515;
}
/* Sub menu */
.navigation ul ul {
  display: none;
  position: absolute;
  width: 100px;
  background-color: #020100;
  box-shadow: 0px 11px 20px 9px black;
}

.navigation ul li:hover ul {
  display: block;
}

.navigation ul ul li a {
  display: block;
}
/* menu-bar */
.menu {
  cursor: pointer;
  display: none;
}
.menu .bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background: red;
  margin: 5px auto;
  transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
  background-color: #996515;
}
.menu .bar:nth-child(2) {
  background-color: white;
}
/* -------------------------------------------------------------------------- */
/* Criadores */
.conteiner-card {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  text-align: center;
}
.card-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
  padding: 20px;
}
.card {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
}

.card i {
  font-size: 25px;
  margin-left: 10px;
  color: #000000;
}
.card i:hover {
  color: #ff0202;
}
.img-cri img {
  width: 190px;
  height: 170px;
  object-fit: cover;
  margin-top: 5px;
}
.img-cri {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

/* -------------------------------------------------------------------------- */
main {
  width: 100%;
  height: calc(100vh - 80px - 30px);
  overflow: hidden;
}
main h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
main p {
  text-align: center;
}
/* -------------------------------------------------------------------------- */
.card-videos {
  display: flex;
  gap: 5rem;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 100%;
}
.videos {
  background-color: #ff0202;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
iframe {
  width: 450px;
  height: 400px;
}
/* -------------------------------------------------------------------------- */
/* Receitas */
.receitas {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}
.receitas p,
h1 {
  margin-bottom: 2rem;
}
.title {
  text-align: center;
  margin-bottom: 2rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
.grid-item {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
}
.grid-item:hover {
  transform: translateY(-5px);
}
.item-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.item-title {
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
}
/* -------------------------------------------------------------------------- */
.rodape {
  display: flex;
  width: 100%;
  height: 30px;
  background: var(--cor-primaria);
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.1rem 0.5rem #000000;
  bottom: 0;
}

@media (max-width: 785px) {
  .navigation {
    padding: 18px 20px;
  }
  .menu {
    display: block;
  }
  .menu.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    text-align: center;
    flex-direction: column;
    background: black;
    gap: -10px;
    transition: 0.3s;
  }
  .nav-menu.ativo {
    right: 0;
  }
  .nav-item {
    margin: 16px 0;
  }
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  /* .card-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  } */
}
