@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

:root {
  --hover: #8c9915;
  --white: #fcfcfc;
  --dark: #000000;
  --fundo: rgba(0, 0, 0, 0.1);
}

/* -------------------------------------------------------------------------- */
.navigation {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  background-color: var(--dark);
  box-shadow: 0px 11px 20px 9px var(--dark);
  color: var(--white);
}
.navigation a {
  color: var(--white);
  font-weight: bold;
}
.navigation li a i {
  font-size: 20px;
}
.navigation img {
  width: 4.5rem;
  cursor: pointer;
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
  padding: 0;
  background-color: var(--fundo);
}
.navigation ul li {
  display: inline;
  position: relative;
}
.navigation ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  transition: background 0.5s;
}
.navigation ul li a:hover {
  color: var(--hover);
  text-shadow: 1px 0px 20px rgb(247, 248, 247);
  -webkit-transition: width 0.3s; /*Chrome*/
  transition: width 0.5s;
}

/* Sub menu */
.navigation ul ul {
  display: none;
  position: absolute;
  width: 100px;
  background-color: var(--dark);
  box-shadow: 0px 11px 20px 9px var(--dark);
}

.navigation ul li:hover ul {
  display: block;
}

.navigation ul ul li a {
  display: block;
}
/* menu-bar */
.menu {
  cursor: pointer;
  display: none;
}
.menu .bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  margin: 5px auto;
  transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
  background-color: var(--white);
}
.menu .bar:nth-child(2) {
  background-color: var(--white);
}

/* -------------------------------------------------------------------------- */
/* Barra-pesquisa */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.pesquisa input {
  height: 4vh;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 5px;
  width: 30%;
  margin-top: 30px;
  border-color: var(--hover);
}
.search .icon {
  position: absolute;
  right: 35.5rem;
  top: 7rem;
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
  line-height: 3.4rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.search .icon i {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -------------------------------------------------------------------------- */
/* Botao-TOPO */

.topo {
  position: fixed;
  bottom: 20px;
  right: -500px;
  height: 50px;
  width: 50px;
  font-size: 50px;
  transition: 0.6s all;
  color: var(--dark);
}

.show-button .topo {
  right: 20px;
  transition: 0.6s all;
}
.topo:hover {
  color: var(--hover);
  cursor: pointer;
}
/* -------------------------------------------------------------------------- */
/* Criadores */

.conteiner-card {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  text-align: center;
}
.conteiner-card p {
  padding: 1rem;
}
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.2rem;
}
.card {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 5px var(--fundo);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
}

.card i {
  font-size: 25px;
  margin-left: 10px;
  color: var(--dark);
}
.card i:hover {
  color: #ff0202;
}
.img-cri img {
  max-width: 190px;
  width: 100%;
  height: 170px;
  object-fit: cover;
  margin-top: 5px;
}
.img-cri {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

/* -------------------------------------------------------------------------- */
/* Estilizaçao pela tags-HTML */
header {
  width: 100%;
}
body {
  display: flex;
  background-color: #dbcccc;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* width: 100vw; */
  height: 100vh;
}
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: rgb(255, 255, 254); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--fundo); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(255, 255, 255); /* creates padding around scroll thumb */
}
main {
  width: 100%;
  /* height: calc(100vh - 80px - 30px);
  overflow: hidden; */
}
main h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
main h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
main p {
  text-align: center;
}
/* -------------------------------------------------------------------------- */
/* Receitas */
.receitas {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}
.receitas p,
h1 {
  margin-bottom: 2rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
.grid-item {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 5px var(--dark);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
}
.grid-item:hover {
  transform: translateY(-5px);
}
.item-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.item-title {
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  color: #000000;
}
/* -------------------------------------------------------------------------- */
/* Pagina-home */
/* .card-videos {
  display: flex;
  gap: 5rem;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.container {
  width: 100%;
  margin: 20px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  align-items: center;
  overflow-x: scroll;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 20px;
  gap: 100px;
}
.videos {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 100%;
  box-shadow: -1px 1px 20px 3px black;
  scroll-snap-align: start;
}
.videos h2 {
  font-size: 1.4rem;
} */
iframe {
  width: 400px;
  height: 300px;
}

/* -------------------------------------------------------------------------- */
/* Footer */
.rodape {
  display: flex;
  width: 100%;
  height: 30px;
  background: var(--cor-primaria);
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.1rem 0.5rem var(--dark);
  /* margin-top: 140px; */
}

@media (max-width: 785px) {
  .navigation {
    padding: 18px 20px;
  }
  .menu {
    display: block;
  }
  .menu.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    text-align: center;
    flex-direction: column;
    background: var(--vinho);
    gap: -10px;
    transition: 0.3s;
  }
  .nav-menu.ativo {
    right: 0;
  }
  .nav-item {
    margin: 16px 0;
  }
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
@media (max-width: 600px) {
  .conteiner-card {
    padding: 2px;
    width: 100vw;
  }
  .conteiner-card h2,
  p {
    margin: 10px;
  }
  .card-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  .card {
    width: 100vw;
  }
  .rodape {
    font-size: 12px;
  }
  .link {
    gap: 1rem;
  }
}
